.title {
  font-family: Roboto;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.logo, .menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 190px;
  height: 35px;
  background: url('img/logo.svg');
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  /* border: dashed 1px red; */
}
.menu__item:last-child {
  padding-right: 0;
}
